$font_size_9:9px;
$font_size_10:10px;
$font_size_11:11px;
$font_size_12:12px;
$font_size_13:13px;
$font_size_14:14px;
$font_size_15:15px;
$font_size_16:16px;
$font_size_17:17px;
$font_size_18:18px;
$font_size_19:19px;
$font_size_20:20px;
$font_size_21:21px;

$schedule_tool_bg_color: #ececec;
$schedule_tool_border_color: #a1a1a1;